
html{
	font-family: Arial;
	background-color: #0d1c45;
	color: #fff;
	font-size: 3vw;
	text-shadow: 3px;
	margin-right: 0px;
}
body{	
	margin: 0px;
	padding: 0px;
	width: 100%;
	overflow: hidden;

}
header{
	background-color: #050c1e;
	display: block;
	height: 7vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 1vh 1.5vw;
	font-size: 3.5vw;
	justify-content: space-between;
}

#time{
	font-weight: 600;
	--float: left;	
	--margin-right: 3vw; 
	margin-left: 2%;
}
#status{
	--float: left;

}
#name{
	--float: right;
}

#plan-fact{
	background-color: #113071;
	box-shadow: 5px 5px 5px #08132e;
	padding: 0vh 0vw;
}
#plan-fact table{
	width: 100%;
	border: none;
	text-align: left;
	margin-left: 2%;
}
#plan-fact th{
	font-size: 3vw;
}

#plan-fact table td, th{
	padding: 1.95vh 0.2vw;	
}
#plan-fact table span{
	font-size: 15.0vw;
	font-weight: 550;
}
#block-data{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	--display: block;
	height: 7vh;

	padding: 0vh 0;
	justify-content: space-between;
	margin-left: 2%;
	margin-right: 2%;
}
#sph{--float: left; --margin-right: 5vw;}
#aspt{--float: left;}
#tfc{--float: right;}
#block-data span{
	font-size: 5.5vw;
	font-weight: 550;
}

.value_XL{
	color: #1bbbff;
}
.value_L{
	color: #28a745;
}
.value_M{
	color: #ffc107;
}
.value_S{
	color: #fd7e14;
}
.value_XS{
	color: #e51937;
}
.value_NI{
	color: #C0C0C0;
}

.chart-container {
	width:60% !important;
	height:60% !important;
}