<!DOCTYPE html>
<html lang="RU">
<head>
<!--script src="js/index.js"></script-->
    <title>Статистика по цехам «КВАНТ»</title>

    <link type="image/x-icon" href="/static/img/logo.ico" rel="shortcut icon">
	<link type="Image/x-icon" href="/static/img/logo.ico" rel="icon">

</head>

<header>


</header>

<body>
    <h1 align="center">
      <span id="size_w">
      </span><br>
      <span id="size_h">
      </span>
    </h1>
</body>
      <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous">
      </script>
     <script type="text/javascript">
        let current_width = window.innerWidth;
        let current_height = window.innerHeight;
        let element = document.getElementById("size_w");
        if(element !== null)
        {
           element.innerHTML = String(current_width);
        }
        element = document.getElementById("size_h");
        if(element !== null)
        {
            element.innerHTML = String(current_height);
        }
    </script>
</html>
